.column {
    width: 50px;
    height: 50px;
    margin: 1px;
    border: 2px darkblue solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
}

.row {
    height: 325px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.grid {
    width: 400px;
    height: 330px;
    display: flex;
    border: 2px darkblue solid;
    margin: 1px;
    background-color: darkblue;
    flex-direction: row;
    align-items: center;
}

.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: blue;
    color: white;
    width: 400px;
}

body {
    text-align: center;
}

#reset-button{
    margin-top: 10px;
}

#player-indicator {
    background: red;
}

body {
    background-color: white;
    color: white;
}

.fall {
    animation-name: fall-animation;
    animation-duration: 500ms;
}

@keyframes fall-animation {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}