.column {
    width: 50px;
    height: 50px;
    margin: 1px;
    border: 2px darkblue solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
}

.row {
    height: 325px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: darkblue;
}

.grid {
    width: 400px;
    height: 330px;
    display: flex;
    border: 2px darkblue solid;
    margin: 1px;
    background-color: darkblue;
    flex-direction: row;
    align-items: center;
}

.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: blue;
    color: white;
    width: 400px;
}

#player-indicator {
    background: red;
}

body {
    text-align: center;
    background-color: white;
    color: white;
}

.color-change-red-yellow {
    animation: redToYellow ease;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.color-change-yellow-red {
    animation: yellowToRed;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes redToYellow {
    0% {
        background-color: red;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}

@keyframes yellowToRed {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: yellow;
    }
}

a {
    text-decoration: none;
}

.top-layer {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 25%;
}

.unmute {
    background-image: url("../images/unmute.png");
    background-size: cover;
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    top: 5%;
    left: 8%;
}

.mute {
    background-image: url("../images/mute.png");
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}